@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Black.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Thin.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  color: #23262f;
  background-color: #fcfcfd;
}

/* scroll */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* scroll */

/* dangerouslySetInnerHTML */
.dangerouslySetInnerHTML > p {
  text-indent: 0 !important;
}
.dangerouslySetInnerHTML > p > span {
  font-weight: 400 !important;
  font-family: "Inter", sans-serif !important;
  font-size: 14px !important;
}
/* dangerouslySetInnerHTML */

/* editor */
.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}
/* editor */

/* input number arrow hide */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* input number arrow hide */
